@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'Planta';
    src: url(planta.otf);
}

@color: #D06A7B;

body {
    background-image: url(background.jpeg);
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;

    font-family: 'Planta', sans-serif;

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

.home__main {
    padding-left: 24px;
    padding-right: 24px;

    max-width: 900px;

    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;

    .home__header {
        display: grid;
        align-items: center;
        grid-template-columns: 9fr 3fr;
        column-gap: 48px;
        row-gap: 24px;
        margin-top: 24px;

        grid-template-areas:
            "title author"
            "date author";
        ;

        .title {
            grid-area: title;
            padding: 24px;
            border: 2px solid black;
            font-size: 46px;
            letter-spacing: 2px;

            text-transform: uppercase;

            background-color: white;

            box-shadow: 12px 12px 0 0 black;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .date {
            padding: 24px;
            grid-area: date;
            margin-left: auto;
            max-width: fit-content;
            border-left: 2px solid black;
            border-right: 2px solid black;
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            text-transform: uppercase;
            font-size: 24px;
            box-shadow: 12px 12px 0 0 black;
        }

        .author {
            grid-area: author;
            padding: 24px;
            border: 2px solid black;

            display: flex;
            flex-direction: column;
            gap: 12px;

            background-color: white;
            box-shadow: 12px 12px 0 0 #D06A7B;

            text-align: center;
            letter-spacing: 2px;

            .avatar {
                width: 100%;
                height: 100px;
                object-fit: cover;
                border-bottom: 2px solid black;
            }

            .tags {
                display: flex;
                gap: 6px;
                font-size: 14px;
            }
        }
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;

        grid-template-areas:
            "pmv pmt pdv pdv"
            "pmv pmt pdt pdt"
            "csb msh mnb dsn"
        ;

        .pmv {
            grid-area: pmv;
        }

        .pmt {
            grid-area: pmt;
        }

        .csb {
            grid-area: csb;
        }

        .pdv {
            grid-area: pdv;
        }

        .pdt {
            grid-area: pdt;
        }

        .msh {
            grid-area: msh;
        }

        .mnb {
            grid-area: mnb;
        }

        .dsn {
            grid-area: dsn;
        }

        .project {
            padding: 12px;
            border: 2px solid black;
            background-color: white;
            box-shadow: 6px 6px 0 0 black;
            text-align: center;
            text-decoration: none;

            display: flex;
            flex-direction: column;
            gap: 12px;

            .cover {
                width: 100%;
                height: 120px;
                object-fit: cover;
                display: block;
            }

            .tag,
            .name {
                text-transform: uppercase;
            }

            .name {
                color: black;
                font-size: 18px;
                letter-spacing: 1px;
            }

            .tag,
            .description {
                color: gray;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
            }

            .description {
                font-size: 12px;
            }

            &.pdv,
            &.pdt {
                display: flex;
                flex-direction: row;
                gap: 24px;
                text-align: left;

                .cover {
                    width: 160px;
                    flex-shrink: 0;
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                }
            }
        }
    }

    .home__footer {
        padding: 24px;
        border: 2px solid black;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
        background-color: white;
        box-shadow: 12px 12px 0 0 black;
        margin-bottom: 100px;
    }
}
